*.o
*.so
*.txt
*.patch
*.data
*.sh
*.csv
*.pdf
*.py
microbenchmarks/gups
microbenchmarks/gups-lru
microbenchmarks/gups-simple
microbenchmarks/gups-small
microbenchmarks/gups-lru-swap
microbenchmarks/gups-pebs
microbenchmarks/test
microbenchmarks/test-simple
microbenchmarks/test-lru
memsim/mmgr_simple
memsim/mmgr_linux
memsim/mmgr_simple_mmm
memsim/mmgr_hemem
apps/
logs/
results/
scripts/
*tags
