[submodule "apps/silo"]
	path = apps/silo
	url = https://ajaustin@bitbucket.org/ajaustin/silo.git
[submodule "apps/gapbs"]
	path = apps/gapbs
	url = https://ajaustin@bitbucket.org/ajaustin/gapbs.git
[submodule "Hoard"]
	path = Hoard
	url = https://github.com/emeryberger/Hoard.git
[submodule "linux"]
	path = linux
	url = https://github.com/aj-austin/linux.git
[submodule "syscall_intercept"]
	path = syscall_intercept
	url = https://github.com/pmem/syscall_intercept
[submodule "capstone"]
	path = capstone
	url = https://github.com/capstone-engine/capstone
