*.o
*.so
*.txt
*.patch
*.data
gups
gups-lru
gups-simple
gups-lru-swap
test
test-simple
tester
memsim/mmgr_simple
memsim/mmgr_linux
memsim/mmgr_simple_mmm
memsim/mmgr_hemem
apps/
logs/
results/
scripts/
